.page-container {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homepage-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
  z-index:1;
}

.h1-text {
  margin: 0;
  font-size: 53px;
  color: white;
}

.h3-text {
  color: white;
  margin: 25px 0 55px;
  font-size: 24px;
}

.h3-footer-text {
  position: fixed;
  bottom: 65px;
  text-align: center;
  font-size: 12px;
  color: white;
}

.start-button {
  font-weight: bold;
  font-size: 20px;
  width: 21%;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 20px 28px;
  border-radius: 2px;
}

/* .footer-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: black;
  color: white;
  padding: 28px;
} */
