.fa-lg.fa-pen-to-square#comment {
  color: rgb(46, 46, 46);
}

.fa-lg.fa-pen-to-square#comment:hover {
  color: rgb(238, 180, 189);
}

.fa-lg.fa-trash-can#comment {
  color: rgb(46, 46, 46);
}

.fa-lg.fa-trash-can#comment:hover {
  color: rgb(154, 194, 207);
}
