.one-photo-page-container {
  /* background-color: rgb(33, 33, 36); */
  /* width: 100vw; */
  background-color: rgba(21,21,23,.95);
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.one-photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-height: 60%;
}

/* .photo-container {
  background-color: white;
  padding: 40px 20px 100px 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  width:  350px;
  height: 300px;
  object-fit: cover;
} */

.content-container {
  text-align: center;
  margin-top: 20px;
  width: 800px auto;
}

.content-container:hover {
  background-color: rgb(243, 245, 246);
}

/* .photo-details-username {
  font-weight: bold;
  font-size: 18px;
} */

.photo-details-title {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
