.all-likes-page-container {
  min-height: 97vh;
  overflow-y: scroll;
  position: relative;
  /* top: 60px; */
  background-color: whitesmoke;
}

.all-img-likes-container {
  column-count: 4;
  column-gap: 10px;
  margin: auto;
  max-width: 75%;
  min-width: 800px;
  display: flex;
  /* justify-content: center; */
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.one-img-like-container {
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 0 0 10px;
  page-break-inside: avoid;
  position: relative;
}

.like-photo {
  border-radius: 6px;
  max-width: 400px;
  /* max-width: 100%; */
  min-width: 200px;
}

.like-photo:hover {
  transition-duration: .2s;
}
