.footer-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: black;
  color: white;
  padding: 13px;
}

.tech-icons-container {
  display: flex;
  justify-content: space-evenly;
  margin-left: 600px;
  margin-right: 600px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 80px;
  border-left: 1px solid gray;
  padding-left: 25px;
}
