/* .test {
  display: inline-block;
  position: relative;
  z-index: 100;
  box-shadow: inset 0 0 20px rgb(0 0 0 / 100%);
} */
.flower-background#albums {
  background-color: rgb(241, 212, 217);
  box-shadow: 0px 15px 15px -10px rgb(46, 46, 46);;
}

.user-album-page-container {
  background-color: rgb(243, 245, 246);
  height: 100vh;
}

.new-album-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font: initial;
  color: rgb(78, 78, 78);
}

.user-albums-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  /* padding-top: 50px; */
  margin-left: 160px;
  margin-right: 160px;
}

.albums-info {
  margin-right: 20px;
}

.user-album {
  /* position: block; */
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.user-album:hover {
  box-shadow: 0px -15px 1px -7px rgb(0 0 0 / 15%);
}

.add-album-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  height: 50px;
  margin-right: 400px;
}

/* .fa-regular.fa-square-plus {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  color: rgb(78, 78, 78);
  height: 50px;
  margin-right: 400px;
} */
