/* .test {
  display: inline-block;
  position: relative;
  z-index: 100;
  box-shadow: inset 0 0 20px rgb(0 0 0 / 100%);
} */
.lower-page-container#album {
  background-color: rgb(243, 245, 246);
  display: flex;
  height: 100vh;
  flex-direction: wrap;
  padding-top: 50px;
  padding-left: 150px;
}

.user-album {
  position: block;
  background-color: white;
  margin: 0px 20px;
  /* margin-top: 330px; */
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.user-album:hover {
  box-shadow: 0px -15px 1px -7px rgb(0 0 0 / 15%);
}
