.flower-background#albums {
  background-color: rgb(241, 212, 217);
  box-shadow: 0px 15px 15px -10px rgb(46, 46, 46);;
}

.user-album-page-container {
  background-color: rgb(243, 245, 246);
  height: 100vh;
}

.new-album-button {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font: initial;
  color: rgb(78, 78, 78);
}

.new-album-button.link {
  text-decoration: none;
}

.new-album-button:hover {
  color: rgb(224, 176, 184);
}

.user-albums-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 150px;
  margin-right: 123px;
}

.albums-info {
  position: relative;
  margin-right: 20px;
}

.user-album {
  width: 250px;
  height: 250px;
  object-fit: cover;
  box-shadow: 0px -15px 1px -7px rgb(0 0 0 / 15%);
}

.user-album-overlay {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  top: 0;
}

.user-album-overlay:hover {
  background-color: rgba(0,0,0,.342);
  opacity: 100;
}

.add-album-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  height: 50px;
  margin-right: 400px;
}

.fa-square-plus {
  margin-right: 4px;
  text-decoration: none;
}

.new-album-text {
  font-weight: 500;
}

/* .fa-regular.fa-square-plus {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 16px;
  color: rgb(78, 78, 78);
  height: 50px;
  margin-right: 400px;
} */
