.view-album-page-container {
  position: relative;
  text-align: center;
  background-color: rgb(243, 245, 246);
  height: 100vh;
}

.album-background {
  width: 80%;
  padding-top: 110px;
  height: 300px;
  object-fit: cover;
  z-index:-1;
  /* box-shadow: 0px 15px 15px -10px rgb(46, 46, 46); */
}

.view-album-text {
  position: absolute;
  top: 15%;
  right: 45%;
}

.view-album-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-left: 191px;
}

.view-album {
  width: 185px;
  height: 185px;
  object-fit: cover;
}
