.fa-lg.fa-pen-to-square {
  color: pink;
  margin-right: 5px;
  /* color: rgb(46, 46, 46); */
}

.fa-lg.fa-trash-can {
  color: lightblue;
  /* color: rgb(46, 46, 46); */
}


.edit-delete-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
