.photo-engagement-tools {
  position: absolute;
  display: flex;
  gap: 10px;
  right: -190px;
  bottom: 15px;
}

.fa-xl.fa-pen-to-square {
  /* color: rgb(46, 46, 46); */
  color: whitesmoke;
}

.fa-pen-to-square:hover {
  color: rgb(238, 180, 189);
}

.fa-xl.fa-trash-can {
  /* color: rgb(46, 46, 46); */
  color: whitesmoke;
}

.fa-trash-can:hover {
  color: rgb(154, 194, 207);
}

.edit-delete-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
