.flower-background {
  background-color: rgb(46, 46, 46);
  /* background-color: rgb(197, 230, 241); */
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0px 15px 15px -10px rgb(46, 46, 46);;
}

.user-photos-page-container {
  background-color: rgb(243, 245, 246);
  height: 100vh;
}

.user-photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 50px;
  margin-left: 160px;
  margin-right: 160px;
}

.photos-info {
  margin-right: 4px;
  margin-bottom: 10px;
}

.user-photo {
  /* position: block; */
  width: 312px;
  height: 312px;
  object-fit: cover;
}


/* .edit-delete-button {
  padding: 0;
  border: none;
  background: none;
} code is in editdeletebutton.css*/
