.user-photos-page-container {
  background-color: rgb(46, 46, 46);
  height: 30vh;
  display: flex;
  flex-direction: wrap;
}

.user-photos-container {
  position: relative;
  margin-left: 50px;
}

.user-photo {
  position: block;
  background-color: white;
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 330px;
  width: 320px;
  height: 320px;
  object-fit: cover;
}

.user-photo:hover {
  box-shadow: 10px -10px 5px #888888;
}

.edit-delete-button {
  position: 0;
  bottom: 0;
  border-radius: 10px;
}
