.flower-background {
  background-color: rgb(46, 46, 46);
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0px 15px 15px -10px;
}

.user-photos-page-container {
  background-color: rgb(243, 245, 246);
  height: 100vh;
}

.user-photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-top: 50px;
  margin-left: 160px;
  margin-right: 160px;
}

.photos-info {
  margin-right: 4px;
}

.user-photo {
  /* position: block; */
  width: 312px;
  height: 312px;
  object-fit: cover;
}

.user-photo:hover {
  box-shadow: 0px 15px 15px -5px #888888;
}

.edit-delete-button {
  position: 0;
  bottom: 0;
  border-radius: 10px;
  margin-bottom: 10px;
}
