.flower-background {
  background-color: rgb(46, 46, 46);
  /* background-color: rgb(197, 230, 241); */
  width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0px 15px 15px -10px rgb(46, 46, 46);;
}

.user-photos-page-container {
  background-color: rgb(243, 245, 246);
  height: 100vh;
}

.user-photos-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: flex-start; */
  padding-top: 50px;
  margin-left: 160px;
  margin-right: 160px;
}

.photos-info {
  position: relative;
  margin-right: 4px;
  margin-bottom: 10px;
}

.user-photo {
  width: 312px;
  height: 312px;
  object-fit: cover;
}

.user-photo-link {
  color: whitesmoke;
}

.user-photo-overlay {
  width: 312px;
  height: 312px;
  display: flex;
  position: absolute;
  /* align-items: center; */
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  top: 0;
}

.user-photo-overlay:hover {
  background-color: rgba(0,0,0,.342);
  opacity: 0.8;
}

.user-photo-tools-bottom {
  position: absolute;
  padding: 10px;
  bottom: 0;
}

.photo-title {
  font-size: 13px;
  font-weight: 500;
}

.photo-uploaded-user {
  font-size: 12px;
}
