/* .page-container {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  for ref ONLY can be deleted after*/
  /* background-image: url(/frontend/src/assets/leejongsuk.jpg);
} */

.form-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  position: fixed;
  padding: 40px 30px 20px 30px;
  font-size: 14px;
  border-radius: 0.25rem;
}

/* .form-icons { */
  /* display: flex;
  text-decoration: none;
  text-align: left;
  width: 50%;
  justify-content: space-between; */
  /* justify-content: center; */
  /* justify-self: start; */
  /* align-items: center;
  width: 100%; */
  /* display: flex;
  /* justify-content: space-between; */
/* } */

.back-icon {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.fa-arrow-left {
  color: gray;
}

.sign-button {
  width: 100%;
  color: white;
  font-weight: bold;
  background-color: rgba(125, 181, 227, 1);
  border-radius: 0.25rem;
  border: none;
  margin-top: 10px;
  padding: 8px;
}

.member {
  margin-top: 20px;
  font-size: 12px;
}

.link {
  text-decoration: none;
  color: rgba(125, 181, 227, 1);
}
