/* .page-container {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: pink;
} */

/*
.form-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
  padding: 60px 30px;
  font-size: 10px;
  border-radius: 0.25rem;
} */

/* .member {
  margin-top: 20px;
} */
