.all-photos-page-container {
  background-color: rgb(243, 245, 246);
  min-height: 100%;
  width: 100vw;
  position: relative;
  overflow-y: scroll;
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 100px;
}

.photo-container {
  position: relative;
}

/* .tack {
  position: absolute;
  width: 25px;
  left: 45%;
  top: -10px;
} */

.photo {
  background-color: white;
  padding: 40px 20px 100px 20px;
  width: 350px;
  height: 300px;
  object-fit: cover;
}

.photo:hover {
  box-shadow: 5px 5px 6px gray;
}

.photo-card-love {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 73px;
  right: 20px;
  color: pink;
}

.photo-love-count {
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  margin-right: 5px;
}

.fa-heart#photo {
  cursor: pointer;
}

.photo-text {
  position: absolute;
  max-width: 350px;
  max-height: 400px;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: black;
  font-weight: 600;
  bottom: 40px;
  left: 15px;
}
