.all-photos-page-container {
  background-color: rgb(243, 245, 246);
  /* width: 100vw; */
  height: 100%;
  /* background-color: black; */
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.photo-container {
  background-color: white;
  padding: 40px 20px 100px 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  /* float: left; */
  width:  350px;
  height: 300px;
  object-fit: cover;
}

.photo-container:hover {
  box-shadow: 5px 5px 5px gray;
}

.photo-text {
  display: block;
  padding-bottom: 100px;
}
