.navbar-container {
  background-color: rgba(0,0,0,.25);
  padding: 16px 7px 16px 7px;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  margin-left: 25px;
}

.button-container {
  padding: 0px 13px;
  display: flex;
  align-items: center;
}

.login-button {
  padding: 5px;
  text-decoration: none;
  font-size: 14px;
  color: white;
}

.signup-button {
  background-color: #FFFFFF;
  font-size: 14px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin: 0px 20px;
  padding: 7px 18px ;
  border-radius: 3px;
}

.nav-button-container {
  width: 100%;
  margin-left: 10px;
}

.nav-button {
  font-size: 14px;
  padding: 0;
  border: none;
  background: none;
  color: white;
  margin: 5px;
  margin-left: 280px;
  /* display: flex;
  justify-content: left; */
}

.nav-button:hover {
  color: rgb(186, 186, 186);
}

/* .fa-lg.fas.fa-user-circle {
  margin-left: 100px;
} */

.profile-dropdown{
  background-color: white;
  width: 210px;
  outline: 1px solid black;
  border-radius: 3px;
  /* box-shadow: 5px 5px 50px 1px black; */
  padding-bottom: 15px;
  padding-top: 1px;
}
