.navbar-container {
  background-color: rgba(0,0,0,.25);
  padding: 16px 7px 16px 7px;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  margin-left: 25px;
}

.button-container {
  padding: 0px 13px;
  display: flex;
  align-items: center;
}

.login-button {
  padding: 5px;
  text-decoration: none;
  font-size: 14px;
  color: white;
}

.signup-button {
  background-color: #FFFFFF;
  font-size: 14px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin: 0px 20px;
  padding: 7px 18px ;
  border-radius: 3px;
}
